body{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
    overflow: scroll;
    flex-grow: 1;

}
div.body {
position: absolute;
width: 600px;
height:100%;
background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
overflow: scroll;
background-color: darkblue;
flex-grow: 1;
margin-left: 10px;
color: white;
text-align: left
}


div.heading{
width: 100%;
height:100px;
color:white;
background-color:#aaaaaa;
flex-grow: 1;


}
div.nav{
width: 100%;
height: 100px;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
flex-grow: 1;

}
ul.nav{
width: 100%;
list-style-type: none;
margin: 0;
padding:0;
overflow: hidden;
background-color: #333333;
}
ul.nav li{
float: left;
}
a.nav{         
display: block;
 color: #bbbbbb;
 padding: 4px 8px;
 text-decoration: none;
 float: left;

}
h1.heading{
width: 100%;
height: 100px ;
text-align: center;
color: whitesmoke;
font-size:80px
}
div #content{
overflow: scroll;
width: 100%;
height:100%;
padding-top: 10px;
opacity: 0.7;
background-color: #cccccc;
margin: 0px;
flex-grow: 1;
color:white;
float: left;;
font: white;
border-style: ridge


}
a.nav:hover{
background-color: rgb(27, 20, 121);
}
aside{
    padding-left: 60%;
    padding-right: 5%;
    padding-bottom: 20%;
    width: 600px;
    height:10px;
    overflow: hidden;
    background-color: rgb(142, 142, 226);
    float: right;
    background-color: transparent;
    flex-grow: 2;
    opacity: 0.7;
    border-block-end-style: hidden;
    background-position: top;
    margin-bottom: 1%;
    background-position-x: 600px;  
    position: relative;
}
footer{
    text-align: center-bottom;
    font-size: 15px;
    color:white;
    position: bottom;
    float:bottom;
     display: block;
    }

   

}
div.aside1{
    padding-left: 70px;
    padding-right:15px;
    padding-top: 20%;
    width: 600px;
    height:50%;
    overflow: hidden;
    background-color:transparent;
    float: right;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
    flex-grow: 2;
    opacity: 0.7;
    border-block-end-style: hidden;
    position: sticky;
    border-color: transparent;
    scroll-behavior: smooth;
    color: white;
}

img{
    opacity: 0.7;
}
pre{
float: left;
position: absolute;
color: white;
text-align: left;
}
table{
position: relative;
color: white;
position: bottom;
float:center;
page-break-after: auto;
margin-top: 1%;
display:inline;
}
