body{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
    overflow: hidden;
}
div.body {
position: absolute;
width: 600px;
height:100%;
background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
overflow: hidden;
background-color: darkblue;
flex-grow: 1;
}


div.heading{
width: 100%;
height:100px;
color:mediumblue);
background-color: #aaaaaa);
flex-grow: 1;


}
div.nav{
width: 100%;
height: 100px;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
flex-grow: 1;

}
ul.nav{
width: 100%;
list-style-type: none;
margin: 0;
padding:0;
overflow: hidden;
background-color: #333333;
}
ul.nav li{
float: left;
}
a.nav{         
display: block;
 color: #bbbbbb;
 padding: 4px 8px;
 text-decoration: none;
 float: left;

}
h1.heading{
width: 100%;
height: 100px ;
text-align: center;
color: whitesmoke;
font-size:80px
}
div #content{
overflow: scroll;
width: 100%;
height:100%;
padding-top: 10px;
opacity: 0.8;
background-color: #cccccc;
margin: 5px;
flex-grow: 1;
padding


}
a.nav:hover{
background-color: rgb(27, 20, 121);
}
div.aside{
    padding-left: 40px;
    padding-right:5px;
    padding-top: 10%;
    width: 600px;
    height:40%;
    overflow: hidden;
    background-color: rgb(142, 142, 226);
    float: right;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
    flex-grow: 2;
    opacity: 0.7;
    border-block-end-style: hidden
}
footer{
    /* text-align: center-bottom; */
    font-size: 15px;
    color:white;
    padding-bottom: 20px;

}
div.aside1{
    padding-left: 60px;
    padding-right:15px;
    padding-top: 20%;
    width: 600px;
    height:100%;
    overflow: hidden;
    background-color:transparent 100%;
    float: right;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg"); 
    flex-grow: 2;
    opacity: 0.7;
    border-block-end-style: hidden;
    position: sticky;
}