
<mat-card>
   <mat-card-title>Enter your Login Credientials</mat-card-title>
    <form>
        <mat-form-field class="example-full-width">
          <input autofocus matInput placeholder="username" pattern="[a-zA-Z][a-zA-z]+"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="password" type="password">
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="onClick()">Login</button>
      </form>
</mat-card>
  <br><br>
